* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-link{
    color: #240D75;
    margin-left: 1em;
    font-size: large;
    font-weight: 700;
    text-align: center;
}


.hero-banner h1 {
    font-size: 50px;
}

.hero-img{
    animation: moveFromTop 1s ease-in-out;
}

@keyframes moveFromTop {
    0% {
        opacity: 0;
        transform: translateY(3rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

footer {
    background: #EC652D;
    color: #fff;
    font-size: 14px;
}
footer .footer-top {
    background: #240D75;
    padding: 40px 0px 20px;
    
}

footer .social-links a {
    font-size: 17px;
    display: inline-block;
    background: #240D75;
    color: rgb(255, 255, 255);
    line-height: 1;
    padding: 9px 0;
    margin-right: 5px;
    border-radius: 100%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.4s;

}
footer .social-links a:hover {
    background: #EC652D;
    color: 240D75;
}
.footer-bottom {
    padding: 20px 0px;
}



.team-section
{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
}
.team-section .card
{
   width: 330px;
   height: 400px;
   padding: 60px 30px;
   margin: 20px;
   background: #F8F9FA;

   border-radius: 20px;
}
.team-section .card .content
{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}
.team-section .card .content .imgBx
{
   width: 180px;
   height: 180px;
   border-radius: 50%;
   position: relative;
   margin-bottom: 20px;
   overflow: hidden;
}
.team-section .card .content .imgBx img
{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
}
.team-section .card .content .contentBx h4
{
   color: #240D75;
   font-size: 1.7rem;
   font-weight: bold;
   text-align: center;
   letter-spacing: 1px;
}
.team-section .card .content .contentBx h5
{
   color: #6c758f;
   font-size: 1.2rem;
   font-weight: bold;
   text-align: center;
}
