* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}

.nav-link {
  color: #240d75;
  margin-left: 1em;
  font-size: large;
  font-weight: 700;
  text-align: center;
}

.hero-banner h1 {
  font-size: 50px;
}

.hero-img {
  position: relative;
  width: 30rem;
  height: 25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.hero-img img{
  animation: moveFromTop 1s ease-in-out;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: contain;
}

@keyframes moveFromTop {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

footer {
  background: #ec652d;
  color: #fff;
  font-size: 14px;
}
footer .footer-top {
  background: #240d75;
  padding: 40px 0px 20px;
}

footer .social-links a {
  font-size: 17px;
  display: inline-block;
  background: #240d75;
  color: rgb(255, 255, 255);
  line-height: 1;
  padding: 9px 0;
  margin-right: 5px;
  border-radius: 100%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.4s;
}
footer .social-links a:hover {
  background: #ec652d;
  transition: 0.2s all ease-in-out;
  color: 240d75;
}
.footer-bottom {
  padding: 20px 0px;
}

.team-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.team-section .card {
  width: 330px;
  height: 400px;
  padding: 60px 30px;
  margin: 20px;
  background: #f8f9fa;

  border-radius: 20px;
}

.team-section .card .content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.team-section .card .content .imgBx {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  position: relative;
  margin-bottom: 20px;
  overflow: hidden;
}
.team-section .card .content .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.team-section .card .content .contentBx h4 {
  color: #240d75;
  font-size: 1.7rem;
  font-weight: bold;
  text-align: center;
  letter-spacing: 1px;
}
.team-section .card .content .contentBx h5 {
  color: #6c758f;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
}

form {
  max-width: 420px;
  margin: 50px auto;
}

.feedback-input {
  color: 240d75;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 450;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: white;
  border: 2px solid #ec652d;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
  outline: 0;
}

.feedback-input:focus {
  border: 2px solid rgb(255, 94, 0);
}

textarea {
  height: 150px;
  line-height: 150%;
  resize: vertical;
}

[type="submit"] {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  width: 100%;
  background: #ec652d;
  border-radius: 5px;
  border: 2px solid #ec652d;
  cursor: pointer;
  color: white;
  font-size: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: all 0.3s ease;
  margin-top: -4px;
  font-weight: 500;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
[type="submit"]:hover {
  color: #ec652d;
  background: white;

}
[type="submit"]:active {
  transform: translateY(4px);
  transition: 0s ease-in-out;
}
.card{
  padding: 15px;
  margin: 10px;
   box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.01);
 transition: box-shadow 0.3s ease-in-out;
 border:1px solid #ddd;
 cursor: pointer;
 border-radius: 4px;
}
.card:hover{
  box-shadow: 0 5px 15px 2px rgba(0, 0, 0, 0.3);
}
.clubImg {
  width: 20em;
  align-self: center;
}